<app-header></app-header>
<br/>
<br/>
<div class="contet" style="margin:30px;">
    
<table class="table display" border="1" id="tabela">
  <thead class="thead-dark">
    <th>Nome</th>
    <th>Nome Professor</th>
    <th>Horario</th>
    <th>Acões</th>

    
  </thead>
  <tbody>
  <tr *ngFor="let disciplina of disciplinas">
    <td>{{ disciplina.nomedis }}</td>
    <td>{{ disciplina.nomeProf }}</td>
    <td>{{ disciplina.horario }}</td>
    
    <td>
      <a href="/editar-disciplina/{{disciplina.chave}}"><button class="btn btn-warning"style="margin-left: 20px;"> Editar </button></a>
      <form (submit)="ExcluirDisciplina(disciplina.chave)">
      <button class="btn btn-danger" style="margin-left: 20px" onClick="history.go(0)"> Excluir </button>
      </form>
    </td>
      
  </tr>
  </tbody>
  </table>
</div>
  <br/> 
  <a href="/"><button class="btn btn-primary" style="margin-left: 20px">Voltar</button></a>
 
<br/>
<br/>
