<app-header></app-header>
<br/>
<br/>
<table align="rigth">
    <tr align = "rigth">
        <div id = "visao">
            <ul>
            <div  style="margin-left: 30px;" > 
                 <li> <pre>{{title}}        {{date.getDate()}} / {{date.getMonth()+1}} / {{date.getFullYear()}}  <span class="badge badge-secondary"></span></pre>
                 </li>
             </div>
             </ul>
        </div>

        <div id="seila">
       
            <li *ngFor="let tarefa of tarefas" class="badge badge-info" style="margin-top: 10px; " >        
              <h3><button type="button" class="btn btn-info btn-lg btn-block">{{tarefa.nome}}</button></h3>      
          </li>
        </div>
        <br/>
        <a type="button" class="btn btn-danger" style="margin-left: 345px;" href="/vis-tarefa">Mostrar Tarefas</a>
        <br/>
        
        <app-vis-amanha></app-vis-amanha>
    </tr>
</table>
    
  


